<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="navigation2">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="home#page-top">{{title}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="home#about" style="color: #212121;">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="home#contact"  style="color: #212121;">Contact</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="providers"  style="color: #212121;">Service Provider</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="login"  style="color: #212121;">Login</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="register"  style="color: #212121;">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Services-->
<section class="page-section" style="height: 85%;">
    <div class="container">
        <h2 class="text-center mt-0">Register</h2>
        <hr class="divider my-4" />
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-block" type="button">Register</button>
                </div>
                <hr />
                <a href="#" class="btn btn-google btn-user btn-block"><i class="fab fa-google"></i>  Register with Google</a>
                <a href="#" class="btn btn-facebook btn-user btn-block"><i class="fab fa-facebook-f"></i> Register with Facebook</a>
                <hr class="divider my-4" />
                <div class="text-center">
                    <a href="/login">Already have an account? Login!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div></div>
</footer>