<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="navigation2">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="home#page-top">{{title}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home#about" style="color: #212121;">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home#contact"  style="color: #212121;">Contact</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/providers"  style="color: #212121;">Service Provider</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login"  style="color: #212121;">Login</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/register"  style="color: #212121;">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Provider List Section -->
<section class="page-section">
    <div class="container">
        <form class="add" action="/providers/add" method="POST">
            <h2 class="text-center mt-0">Add a New Provider</h2>
            <hr class="divider my-4" />
            <div class="col-md-12 px-5">
                <div class="row mx-5">
                    <div class="col-md-6 form-group">
                        <label for="input_first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="input_first_name" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="input_last_name">Last Name</label>
                        <input type="text" class="form-control" id="input_last_name" name="last_name" required>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-12 form-group">
                        <label for="input_position">Position</label>
                        <input type="text" class="form-control" id="input_position" name="position" required>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-6 form-group">
                        <label for="input_email">Email</label>
                        <input type="text" class="form-control" id="input_email" name="email" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="input_phone">Phone</label>
                        <input type="text" class="form-control" id="input_phone" name="phone" required>
                    </div>
                </div>
                <hr class="divider my-4" />
                <div class="row mx-5">
                    <div class="col-md-12 form-group">
                        <label for="input_com_name">Company Name</label>
                        <input type="text" class="form-control" id="input_com_name" name="company_name" required>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-12 form-group">
                        <label for="input_address">Address</label>
                        <input type="text" class="form-control" id="input_address" name="address" required>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-12 form-group">
                        <label for="input_addres_two">Address 2</label>
                        <input type="text" class="form-control" id="input_addres_two" name="address_two">
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-6 form-group">
                        <label for="input_city">City</label>
                        <input type="text" class="form-control" id="input_city" name="city" required>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="input_state">State</label>
                        <input type="text" class="form-control" id="input_state" name="state" required>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="input_zip_code">Zip Code</label>
                        <input type="text" class="form-control" id="input_zip_code" name="zip_code" required>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-6 form-group">
                        <label for="input_descr">Description</label>
                        <textarea type="text" class="form-control" id="input_descr" name="description" required></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="input_tag_line">Tag Line</label>
                        <textarea type="text" class="form-control" id="input_tag_line" name="tag_line" required></textarea>
                    </div>
                </div>
                <div class="row mx-5 px-3">
                    <button class="btn btn-primary btn-block" type="submit">Add Provider</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div></div>
</footer>